body {
    font-family: Arial;
}

.wraper {
    width: 70%;
    margin: auto;
}

.wraper .page-header {
    font-size: 11pt;
    text-align: center;
}

/* Content Common Styles BEGIN -> */

.row-container {
    display: table-row;
    width: 100%;
}

.row-container .mendeleev-table {
    display: table-cell;
    border-spacing: 0;
    border-collapse: collapse;
    vertical-align: top;
}

.row-container .image-container {
    display: table-cell;
    vertical-align: top;
    background-image: url("images/MendeleevFace.png");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
    width: 120px;
    height: 150px;

}
/*
.row-container .image-container img {
    display: block;
    width: 100%;
    height: 100%;
}
*/
/* <- Content Common Styles END */

/* Table Head BEGIN -> */

.mendeleev-table > thead > tr > th {
    border: 1px solid black;
}

.mendeleev-table .periods-col {
    width: 50px;
}

.mendeleev-table .table-head-1-row .periods-col {
    font-size: 8pt;
}

.mendeleev-table .rows-col {
    width: 50px;
}

.mendeleev-table .table-head-1-row .rows-col {
    font-size: 8pt;
}

.mendeleev-table .table-head-1-row .energ-levels-col {
    font-size: 6pt;
    vertical-align: bottom;
}

.mendeleev-table .group1-col {
    width: 100px;
}

.mendeleev-table .group2-col {
    width: 100px;
}

.mendeleev-table .group3-col {
    width: 100px;
}

.mendeleev-table .group4-col {
    width: 100px;
}

.mendeleev-table .group5-col {
    width: 100px;
}

.mendeleev-table .group6-col {
    width: 100px;
}

.mendeleev-table .group7-col {
    width: 100px;
}

.mendeleev-table .group8-b-1-col {
    width: 100px;
}

.mendeleev-table .group8-b-2-col {
    width: 100px;
}

.mendeleev-table .group8-b-3-col {
    width: 100px;
}

.mendeleev-table .group8-a-col {
    width: 100px;
}

.mendeleev-table .energ-levels-col {
    width: 30px;
}

/* Rotated Text BEGIN -> */

.mendeleev-table .table-head-1-row .rotated-text {
    writing-mode: vertical-lr;
}

/* <- Rotated Text END */

.mendeleev-table .face-col {
    width: 150px;
}

.mendeleev-table .table-head-2-row {
    font-size: 14pt;
    font-weight: bold;
}

/* Subgroups A B BEGIN -> */

.mendeleev-table .table-head-3-row .subgroup-container {
    display: table;
    width: 100%;
    font-size: 8pt;
}

.mendeleev-table .table-head-3-row .subgroup-container .subgroup-a {
    padding-left: 5px;
    display: table-cell;
    text-align: left;
}

.mendeleev-table .table-head-3-row .subgroup-container .subgroup-b {
    padding-right: 5px;
    display: table-cell;
    text-align: right;
}

.mendeleev-table .table-head-3-row .subgroup-container .subgroup-center {
    display: table-cell;
    text-align: center;
}

/* <- Subgroups A B END */

/* <- Table Head END */

/* Table Body BEGIN -> */

.mendeleev-table > tbody > tr > td {
    border: 1px solid black;
    height: 35px;
}

.mendeleev-table tbody .periods-col {
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
}

.mendeleev-table tbody .rows-col {
    text-align: center;
    font-size: 12pt;
}

.mendeleev-table tbody .energ-levels-col {
    vertical-align: bottom;
    text-align: center;
    font-size: 6pt;
}

.mendeleev-table tbody .element {
    margin: 0;
    padding: 0;
}

/* Images of Elements --> */

.mendeleev-table tbody .element-container {
    display: table;
    width: 100%;
    height: 100%;
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;
}

.mendeleev-table tbody .h-element {
    background-image: url("images/H.png");
}

.mendeleev-table tbody .al-element {
    background-image: url("images/Al.png");
}

.mendeleev-table tbody .ar-element {
    background-image: url("images/Ar.png");
}

.mendeleev-table tbody .b-element {
    background-image: url("images/B.png");
}

.mendeleev-table tbody .be-element {
    background-image: url("images/Be.png");
}

.mendeleev-table tbody .c-element {
    background-image: url("images/C.png");
}

.mendeleev-table tbody .cl-element {
    background-image: url("images/Cl.png");
}

.mendeleev-table tbody .h-element {
    background-image: url("images/H.png");
}

.mendeleev-table tbody .f-element {
    background-image: url("images/F.png");
}

.mendeleev-table tbody .he-element {
    background-image: url("images/He.png");
}

.mendeleev-table tbody .li-element {
    background-image: url("images/Li.png");
}

.mendeleev-table tbody .mg-element {
    background-image: url("images/Mg.png");
}

.mendeleev-table tbody .n-element {
    background-image: url("images/N.png");
}

.mendeleev-table tbody .na-element {
    background-image: url("images/Na.png");
}

.mendeleev-table tbody .ne-element {
    background-image: url("images/Ne.png");
}

.mendeleev-table tbody .o-element {
    background-image: url("images/O.png");
}

.mendeleev-table tbody .p-element {
    background-image: url("images/P.png");
}

.mendeleev-table tbody .s-element {
    background-image: url("images/S.png");
}

.mendeleev-table tbody .si-element {
    background-image: url("images/Si.png");
}

/* <-- Images of Elements */

.mendeleev-table tbody img {
    width: 100%;
    height: 100%;
    display: block;
}

.selected-cell {
    box-shadow: 0px 0px 25px 0px darkslategray;
}

.clicked-cell {
    box-shadow: 0px 0px 25px 0px red;
}

/* <- Table Body END */

/* spinner -> */
.spinner {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.loader {
    position: fixed;
    left: 50%;
    top: 30%;
    border: 8px solid gold;
    border-top: 8px solid blue;
    border-bottom: 8px solid blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 1.0;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* <- spinner */