body {
    font-family: Arial;
}

.wraper {
    width: 70%;
    margin: auto;
}

.wraper .page-header {
    font-size: 11pt;
    text-align: left;
    margin: 50px 0px;
}

/* Form BEGIN -> */

.form li {
    list-style-type: none;
}

.form .row-container {
    display: table-row;
    width: 100%;
}

.form .row-container .caption-container {
    display: table-cell;
    width: 200px;
    text-align: left;
    vertical-align: top;
    padding: 10px 10px;
}

.form .row-container .control-container {
    display: table-cell;
    width: 400px;
    text-align: left;
    vertical-align: top;
    padding: 10px 10px;    
}

.form .row-container .error-container {
    background-size: inherit;                     
    background-repeat: no-repeat;
    background-position: center center;
    display: table-cell;
    width: 50px;
}

.error-active {
    background-image: url("images/error.png");
}

.passed-active {
    background-image: url("images/ok.png");
}

.form .row-container .button-left-container {
    display: table-cell;
    width: 300px;
    text-align: left;
    vertical-align: middle;
    padding: 20px 20px;
}

.form .row-container .button-right-container {
    display: table-cell;
    width: 300px;
    text-align: right;
    vertical-align: middle;
    padding: 20px 20px;    
}

.form .row-container button {
    width: 200px;
    height: 60px;
}

/* <- Form END */