@keyframes move-banner-forward {
    from {left: 77%}
    to {left: 0%}
}

@keyframes move-banner-backward {
    from {left: 0%}
    to {left: 77%}    
}

.banner-container {
    margin: 5px;
    position: fixed;
    bottom: 0px;
    left: 77%;
}

.banner-container-fanim {
    animation: move-banner-forward 2s linear forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
}

.banner-container-ranim {
    animation: move-banner-backward 2s linear forwards;
    animation-play-state: running;
    animation-iteration-count: 1;
}

.banner-container .banner-content {
    background-image: url("images/banner.jpg");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center; 
    background-color: #cccccc;
    border: 1px solid gray;
    width: 320px;
    height: 150px;
}

.banner-container .banner-close-button {
    background-image: url("images/close_button.png");
    background-size: cover;                     
    background-repeat: no-repeat;
    background-position: center center;
    width: 30px;
    height: 30px;
    top: 0px;
    right: 0px;
    position: absolute;
}

.banner-container .banner-close-button:hover {
    background-color: darkgoldenrod;
}

.wrap {
    width: 50%;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.contains .list-container {
    border: 2px solid black;
    width: 200px;
}

.contains .list-container .list-contains {
    width: 120px;
    padding-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    list-style-type: square;
}

.picture {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 50px;
    background-image: url("images/Hachapuri.jpeg");
    background-size: contain;                     
    background-repeat: no-repeat;
    background-position: center center;
    height: 250px;
}

p {
    text-align: justify;
}